*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg-container{
    background-image: url(./images/bg-design.png);
    padding-top: 10px;
    height: 800px;
}

#header{
    margin-top: 40px;
}
#contact-container{
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Montserrat";
}
#logo{
    width: 75%;
}
#contact{
    width: 25%;
    display: flex;
    align-items: center;
    gap: 25px;
}
#contact p{
    font-size: 17px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: right;
}
#nav-container{
    display: flex;
}
#nav-empty-space{
    width: 50%;
}
#nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
#nav a{
    text-decoration: none;
    font-size: 21px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";  
}
#slogan{
    width:430px;
    height: 40px;
    border: 2px dashed #3d2514;
    margin: 150px 0px 0px 30px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 600;
    font-family: "Bebas Neue";
}
#burger-txt{
    margin: 20px;
    font-size: 114px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}
#week-txt{
    margin: 20px;
    font-size: 56px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 500;
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}
#glow-img{
    position: absolute;
    top: 100px;
    right: 0px;
    text-align: right;
}
#glow-img img{
    width: 80%;
}
#coke-img{
    position: absolute;
    top: 200px;
    right:250px;
    z-index: 1;
}
#fries-img{
    position: absolute;
    top: 290px;
    left: 760px;
    z-index: 1;
}
#burger-img{
    position: absolute;
    top: 300px;
    right: 320px;
    z-index: 2;
}
#discount-img img{
    position: absolute;
    top: 550px;
    right: 710px;
    z-index: 3;
}
#discount-img p{
    position: absolute;
    top: 700px;
    right: 760px;
    font-size: 30px;
    color: white;
}

#content-2{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    position: relative;
}
#content-2-1 img{
    margin: 50px 30px 20px 34px;
    width: 800px;
    height: 680px;
}

#content-2-1 h1{
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    position: absolute;
    top: 100px;
    left: 60px;
}
#content-2-1 p{
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    position: absolute;
    top: 170px;
    left: 60px;
}
#content-2-2 {
    margin: 50px 0px 0px 10px;
}
#content-2-2 img{
    width: 780px;
    height: 320px;
}
#content-2-2 img:nth-child(4){
    margin-top: 33px;
}
#content-2-2 h1{
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    position: absolute;
    top: 100px;
    right:440px;
}
#content-2-2 p{
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    position: absolute;
    top:170px;
    right:520px;
}
#content-2-2 h2{
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    position: absolute;
    top: 440px;
    right:430px;
}
#content-2-2 h3{
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    position: absolute;
    top: 500px;
    right:400px;
}
#content-3{
    background-color: #ffffff;
    text-align: center;
}
.btn{
    background-color:#fee8bc;
    color:#3d2514;
    padding: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Bebas Neue";
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#content-3 h1{
    margin-top: 50px;
    font-size: 50px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 800;
    font-family: "Alfa Slab One";
}
#content-3 p{
    margin: 20px;
    font-size: 20px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}
#content-4{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content-4 img{
    height: 300px;
}
#content-4-1 h1{
    margin-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;
}
#content-4-1 p{
    margin-top: 20px;
    font-size: 17px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#content-4-2 h1{
    margin-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;
}
#content-4-2 p{
    margin-top: 20px;
    font-size: 17px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#content-4-3 h1{
    margin-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;
}
#content-4-3 p{
    margin-top: 20px;
    font-size: 17px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.btn-1{
    margin: 20px 0px 20px 80px;
    width: 190px;
    height: 57px;
    background-color: #bf2222;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}