* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    border: 1px solid #D35400;
    display: flex;
    justify-content: space-around;
}
.container-column-nowrap{
    flex-flow: column nowrap;
}
.container-column-reverse-nowrap{
    flex-flow: column-reverse nowrap;
}
.container-row-nowrap{
    flex-flow: row nowrap;
}
.container-row-reverse-nowrap{
    flex-flow: row-reverse nowrap;
}
.container-row-wrap{
    flex-flow: row wrap;
}
.container-row-reverse-wrap{
    flex-flow: row-reverse;
}
.box{
    text-align: center;
    width: 200px;
    height: auto;
    margin: 20px;
}
.box-1{
    border: 1px solid #A93226;
    color: #A93226;
    background-color: #F2D7D5;
}
.box-2{
    border: 1px solid #28B463;
    color: #28B463;
    background-color: #D5F5E3;
}
.box-3{
    border: 1px solid #7D3C98;
    color: #7D3C98;
    background-color: #E8DAEF;
}
.box-4{
    border: 1px solid #B7950B;
    color:#B7950B;
    background-color: #FCF3CF;
}