*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e3e6e6;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: #2b312a;
    color: white;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.nav-logo img{
    width: 115px;
    height: 40px;
    padding: 10px;
}
.deliver{
    display: flex; 
}
.deliver a{
    color: white;
    font-size: 25px;
    position: relative;
    top: 16px;
    left: -5px;
}
#deliver-text{
    display: flex;
    flex-direction: column;
}
.deliver span {
    margin: 5px 0px 0px 1px;
    font-size: 15px;
}
.search{
    align-items: center;
    padding: 5px 0px 0px 10px;
    display: flex;
    flex-direction: row;
}
.btn{
    width: 43px;
    height: 36px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 2px solid gray;
    background-color: #e6e6e6;
}
.search input{
    border: none;
    width: 350px;
    height: 35px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-icon a{
    position: relative;
    right: 34px;
    padding: 9px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #f5b236;
}
.lang{
    display: flex;
    align-items: center;
}
.account{
    display: flex;
    gap: 20px;
}
.nav-flag img{
    width: 40px;
    height: 40px;
}
.btn-1{
    width: 43px;
    height: 20px;
    background-color: transparent;
    color: white;
    border: none;
}
#sign-in{
    display: flex;
    flex-direction: column;
}
#sign-in span{
    font-size: 15px;
}
.return{
    display: flex;
    flex-direction: column;
}
.return span{
    font-size: 15px;
}
.nav-cart-icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.nav-cart-icon a{
    color: white;
    font-size: 25px;
}
.nav-cart-icon span{
    font-size: 20px;
    padding-right: 10px;
}
.nav-header{
    margin-top: 64px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.nav-header a{
    background-color: #333;
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-left: 10px;
}
#section-1{
    background: linear-gradient(#ffbac5,red);
    padding : 20px 0px 10px 20px;
    display: flex;
}
#card-1{
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}
#card-1 span{
    font-family: sans-serif;
    font-size: 20px;
}
#card-1-1{
    display: flex;
    gap: 20px;
}
#card-1-1-1{
    display: flex;
    flex-direction: column;
}
#card-1-1-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-1-1-1 span{
    font-size: 13px;
}
#card-1-1-2{
    display: flex;
    flex-direction: column;
}
#card-1-1-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-1-1-2 span{
    font-size: 13px;
}
#card-1-2{
    display: flex;
    gap: 20px;
}
#card-1-2-1{
    display: flex;
    flex-direction: column;
}
#card-1-2-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-1-2-1 span{
    font-size: 13px;
}
#card-1-2-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 5px 0px;
}
#card-1-2-2 span{
    font-size: 13px;
}
#card-1 a{
    padding-top: 10px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
#card-2{
    margin-left: 25px;
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}
#card-2 span{
    font-size: 25px;
}
#card-2-1{
    display: flex;
    gap: 20px;
}
#card-2-1 img{
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}
#card-2-1-1 span{
    font-size: 20px;
}
#card-2-1-2 span{
    font-size: 20px;
}
#card-2-2{
    display: flex;
    gap: 20px;
}
#card-2-2 img{
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 10px 0px;
}
#card-2-2-1 span{
    font-size: 20px;
}
#card-2-2-2 span{
    font-size: 20px;
}
#card-2 a{
    padding-top: 15px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
#card-3{
    display: flex;
    flex-direction: column;
}
#card-3{
    margin-left: 25px;
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px 0px 0px 20px;
}
#card-3 span{
    font-size: 25px;
}
#card-3 img{
    padding-top: 10px;
    width: 260px;
    height: 270px;
}
#card-3 a{
    padding-top: 25px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
#card-4{
    display: flex;
    flex-direction: column;
}
#card-4-1{
    margin: 0px 10px 0px 25px;
    width: 280px;
    height: 130px;
    background-color: white;
    padding: 20px 0px 0px 20px;
}
#card-4-1 span{
    font-size:25px;
}
#card-4-1{
    text-align: center;
}
.btn-2{
    margin: 10px;
    padding: 10px 50px 10px 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #FFD814;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
#card-4-2{
    margin: 20px 0px 0px 25px;
    width: 300px;
    height: 250px;
    background-color: white;
}
#section-2{
    padding: 20px 0px 10px 20px;
    display: flex;
}
#card-5{
    width: 270px;
    height: 390px;
    background-color: white;
    padding: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}
#card-5 span{
    font-family: sans-serif;
    font-size: 20px;
}
#card-5-1{
    display: flex;
    gap: 20px;
}
#card-5-1-1{
    display: flex;
    flex-direction: column;
}
#card-5-1-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-5-1-1 span{
    font-size: 13px;
}
#card-5-1-2{
    display: flex;
    flex-direction: column;
}
#card-5-1-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-5-1-2 span{
    font-size: 13px;
}
#card-5-2{
    display: flex;
    gap: 20px;
}
#card-5-2-1{
    display: flex;
    flex-direction: column;
}
#card-5-2-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-5-2-1 span{
    font-size: 13px;
}
#card-5-2-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 5px 0px;
}
#card-5-2-2 span{
    font-size: 13px;
}
#card-5 a{
    padding-top: 10px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
#card-6{
    margin-left: 20px;
    width: 270px;
    height: 390px;
    background-color: white;
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}
#card-6 span{
    font-family: sans-serif;
    font-size: 20px;
}
#card-6-1{
    display: flex;
    gap: 20px;
}
#card-6-1-1{
    display: flex;
    flex-direction: column;
}
#card-6-1-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-6-1-1 span{
    font-size: 13px;
}
#card-6-1-2{
    display: flex;
    flex-direction: column;
}
#card-6-1-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-6-1-2 span{
    font-size: 13px;
}
#card-6-2{
    display: flex;
    gap: 20px;
}
#card-6-2-1{
    display: flex;
    flex-direction: column;
}
#card-6-2-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-6-2-1 span{
    font-size: 13px;
}
#card-6-2-2{
    display: flex;
    flex-direction: column;
}
#card-6-2-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-6-2-2 span{
    font-size: 13px;
}
#card-6 a{
    padding-top: 20px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
#card-7{
    margin-left: 20px;
    width: 270px;
    height: 390px;
    background-color: white;
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}
#card-7 span{
    font-family: sans-serif;
    font-size: 20px;
}
#card-7-1{
    display: flex;
    gap: 20px;
}
#card-7-1-1{
    display: flex;
    flex-direction: column;
}
#card-7-1-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-7-1-1 span{
    font-size: 13px;
}
#card-7-1-2{
    display: flex;
    flex-direction: column;
}
#card-7-1-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-7-1-2 span{
    font-size: 13px;
}
#card-7-2{
    display: flex;
    gap: 20px;
}
#card-7-2-1{
    display: flex;
    flex-direction: column;
}
#card-7-2-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-7-2-1 span{
    font-size: 13px;
}
#card-7-2-2{
    display: flex;
    flex-direction: column;
}
#card-7-2-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-7-2-2 span{
    font-size: 13px;
}
#card-7 a{
    padding-top: 20px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
#card-8{
    margin-left: 20px;
    width: 270px;
    height: 390px;
    background-color: white;
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}
#card-8 span{
    font-size: 20px;
}
#card-8 img{
    padding-top: 10px;
    width: 250px;
    height: 300px;
}
#card-8 a{
    padding-top: 10px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
#section-3{
    background-color: #ffffff;
    margin: 20px 32px 10px 20px;
    padding: 20px;
}
.today-deals{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.fnt-20{
    font-size: 20px;
}
#section-3 a{
    text-decoration: none;
    color: blue;
}
.offer-cards{
    display: flex;
    justify-content: space-between;   
}
.offer-card {
    background-color: #fff;
    width: 230px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offer-card-img{
    background-color: #f7f8f8;
    padding: 20px;
}
.offer-card-img img{
    width: 190px;
    height: 200px;
    cursor: pointer;
}
.card-caption{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.offer-card-deals{
    display: flex;
    gap: 20px;
}
.offer-card-txt-1{
    background-color: red;
    color: white;
    padding: 0px 10px;
}
.offer-card-txt-2{
    color: red;
}
.fnt-15{
    font-size: 15px;
}
#section-4{
    background-color: #ffffff;
    margin: 20px 32px 10px 20px;
    padding: 20px;
}
#section-4 a{
    text-decoration: none;
    color: blue;
}
#kitchen-offers{
    margin-bottom: 20px;
}
#kitchen-img img{
    width: 280px;
    height: 200px;
    cursor: pointer;
}
#section-5{
    background-color: #ffffff;
    margin: 20px 32px 10px 20px;
    padding: 20px;
}
#section-5 a{
    text-decoration: none;
    color: blue;
}
#home-decor-offers{
    margin-bottom: 20px;
}
#home-decor-img img{
    width: 280px;
    height: 200px;
    cursor: pointer;
}
#section-6{
    padding: 10px 0px 10px 20px;
    display: flex;
}
#card-9{
    width: 280px;
    height: 345px;
    background-color: white;
    padding: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}
#card-9 span{
    font-family: sans-serif;
    font-size: 20px;
}
#card-9 a{
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
#card-9-1{
    display: flex;
    gap: 20px;
}
#card-9-1-1{
    display: flex;
    flex-direction: column;
}
#card-9-1-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-9-1-1 span{
    font-size: 13px;
}
#card-9-1-2{
    display: flex;
    flex-direction: column;
}
#card-9-1-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-9-1-2 span{
    font-size: 13px;
}
#card-9-2{
    display: flex;
    gap: 20px;
}
#card-9-2-1{
    display: flex;
    flex-direction: column;
}
#card-9-2-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-9-2-1 span{
    font-size: 13px;
}
#card-9-2-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 5px 0px;
}
#card-9-2-2 span{
    font-size: 13px;
}
#card-10{
    margin-left: 20px;
    width: 270px;
    height: 345px;
    background-color: white;
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 25px;
}
#card-10 img{
    margin-top: 20px;
    width: 240px;
    height: 180px;
    text-align: center;
}
#card-10 span{
    font-size: 15px;
}
#price{
    font-size: 17px;
}
#card-10 a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 15px;
    color: blue;
}
#card-11{
    margin-left: 20px;
    width: 270px;
    height: 345px;
    background-color: white;
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}
#card-11 span{
    font-size: 25px;
}
#card-11-1{
    display: flex;
    gap: 20px;
}
#card-11-1 img{
    margin-top: 20px;
    width: 100px;
    height: 100px;
}