*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: #000000d1;
    color: white;
    align-items: center;
}
.nav-logo img{
    width: 115px;
    height: 40px;
    padding: 10px;
}
.deliver{
    display: flex; 
}
.deliver a{
    color: white;
    font-size: 25px;
    position: relative;
    top: 16px;
    left: -5px;
}
#deliver-text{
    display: flex;
    flex-direction: column;
}
.deliver span {
    margin: 5px 0px 0px 1px;
    font-size: 15px;
}
.search{
    align-items: center;
    padding: 5px 0px 0px 10px;
    display: flex;
    flex-direction: row;
}
.btn{
    width: 43px;
    height: 36px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 2px solid gray;
    background-color: #e6e6e6;
}
.search input{
    border: none;
    width: 350px;
    height: 35px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-icon a{
    position: relative;
    right: 34px;
    padding: 9px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #f5b236;
}
.lang{
    display: flex;
    align-items: center;
}
.account{
    display: flex;
    gap: 20px;
}
.nav-flag img{
    width: 40px;
    height: 40px;
}
.btn-1{
    width: 43px;
    height: 20px;
    background-color: transparent;
    color: white;
    border: none;
}
#sign-in{
    display: flex;
    flex-direction: column;
}
#sign-in span{
    font-size: 15px;
}
.return{
    display: flex;
    flex-direction: column;
}
.return span{
    font-size: 15px;
}
.nav-cart-icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.nav-cart-icon a{
    color: white;
    font-size: 25px;
}
.nav-cart-icon span{
    font-size: 20px;
    padding-right: 10px;
}
.nav-header{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.nav-header a{
    background-color: #333;
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-left: 10px;
}
#section-1{
    background: linear-gradient(#ffbac5,white);
    padding : 20px 0px 10px 20px;
    display: flex;
    flex-direction: row;
}
#card-1{
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}
#card-1 span{
    font-family: sans-serif;
    font-size: 20px;
}
#card-1-1{
    display: flex;
    gap: 20px;
}
#card-1-1-1{
    display: flex;
    flex-direction: column;
}
#card-1-1-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-1-1-1 span{
    font-size: 13px;
}
#card-1-1-2{
    display: flex;
    flex-direction: column;
}
#card-1-1-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-1-1-2 span{
    font-size: 13px;
}
#card-1-2{
    display: flex;
    gap: 20px;
}
#card-1-2-1{
    display: flex;
    flex-direction: column;
}
#card-1-2-1 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
#card-1-2-1 span{
    font-size: 13px;
}
#card-1-2-2 img{
    width: 120px;
    height: 100px;
    padding: 10px 0px 5px 0px;
}
#card-1-2-2 span{
    font-size: 13px;
}
#card-1 a{
    padding-top: 10px;
    font-size: 15px;
}
#card-2{
    margin-left: 25px;
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}
#card-2 span{
    font-size: 25px;
}
#card-2-1{
    display: flex;
    gap: 20px;
}
#card-2-1 img{
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}
#card-2-1-1 span{
    font-size: 20px;
}
#card-2-1-2 span{
    font-size: 20px;
}
#card-2-2{
    display: flex;
    gap: 20px;
}
#card-2-2 img{
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 10px 0px;
}
#card-2-2-1 span{
    font-size: 20px;
}
#card-2-2-2 span{
    font-size: 20px;
}
#card-2 a{
    padding-top: 15px;
    font-size: 15px;
}
#card-3{
    display: flex;
    flex-direction: column;
}
#card-3{
    margin-left: 25px;
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px 0px 0px 20px;
}
#card-3 span{
    font-size: 25px;
}
#card-3 img{
    padding-top: 10px;
    width: 260px;
    height: 270px;
}
#card-3 a{
    padding-top: 25px;
    font-size: 15px;
}
#card-4{
    display: flex;
    flex-direction: column;
}
#card-4-1{
    margin: 0px 10px 0px 25px;
    width: 280px;
    height: 130px;
    background-color: white;
    padding: 20px 0px 0px 20px;
}
#card-4-1 span{
    font-size:25px;
}
#card-4-1{
    text-align: center;
}
.btn-2{
    margin: 10px;
    padding: 10px 50px 10px 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #FFD814;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
#card-4-2{
    margin: 20px;
    width: 300px;
    height: 250px;
    background-color: white;
}
