*{
   margin: 0;
   padding: 0; 
}
.header{
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: black;
    font-family: "Poppins";
}
.nav{
    padding: 20px 20px;
    font-size: 28px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: black;
    font-family: "Poppins";
    display: flex;
    justify-content: space-around;
}
.nav img{
    width: 70px;
    height: 70px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.section-1{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#section-1-1 h1{
    padding: 40px 70px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
}
#section-1-1 p{
    padding: 40px 70px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
}
#btn-1{
    margin: 40px 70px;
    padding: 20px;
    font-size: 25px;
    border-radius: 30px;
    background-color: #ff3300;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
.section-2{
    background-color: bisque;
    position: relative;
}
#img-1{
    position: absolute;
    top: 10px;
    right: 100px;
    width: 150px;
    height: 150px;
}
#img-2{
    position: absolute;
    top: 400px;
    right: 20px;
    width: 80px;
    height: 80px;
}
#img-3{
    position: absolute;
    top: 460px;
    right: 400px;
    width: 80px;
    height: 80px;
}
#img-4{
    position: absolute;
    top: 200px;
    width: 100px;
    height: 100px;
}
#img-5{
    position: absolute;
    top: 50px;
    left: 150px;
    width: 70px;
    height: 60px;
}
#img-6{
    position: absolute;
    top: 450px;
    left: 390px;
    width: 90px;
    height: 90px;
}
#section-2-1 h1{
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    color: red;
}
#section-2-1 p{
    margin-top: 20px;
    text-align: center;
    font-size: 27px;
    color: red;
}
#section-2-2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#section-2-2-1 img{
    border: none;
    border-radius: 200px;
}
#section-2-2-1 h1{
    margin: 15px;
    color: red;
    font-size: 30px;
    text-align: center;
}
#section-2-2-1 p{
    margin: 5px;
    color: red;
    font-size: 25px;
    text-align: center;
}
#section-2-2-2 img{
    border: none;
    border-radius: 200px;
}
#section-2-2-2 h1{
    margin: 15px;
    color: red;
    font-size: 30px;
    text-align: center;
}
#section-2-2-2 p{
    margin: 5px;
    color: red;
    font-size: 25px;
    text-align: center;
}
#section-2-2-3 img{
    border: none;
    border-radius: 200px;
}
#section-2-2-3 h1{
    margin: 15px;
    color: red;
    font-size: 30px;
    text-align: center;
}
#section-2-2-3 p{
    margin: 5px;
    color: red;
    font-size: 25px;
    text-align: center;
}
.section-3{
    background-color: #ff3300;
    display: flex;
    justify-content: space-around;
}
#section-3-1 img{
    margin: 40px 0px 0px 100px;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 150px;
}
#section-3-2 h1{
    padding-top: 100px;
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
}
#section-3-2 p{
    padding-top: 10px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
}
#btn-2{
    font-size: 25px;
    text-transform: uppercase;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}