*{
   margin: 0;
   padding: 0; 
}
.header{
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: black;
    font-family: "Poppins";
}
.nav{
    padding: 20px 20px;
    font-size: 28px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: black;
    font-family: "Poppins";
    display: flex;
    justify-content: space-around;
}
.nav img{
    width: 70px;
    height: 70px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.section-1{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#section-1-1 h1{
    padding: 40px 70px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
}
#section-1-1 p{
    padding: 40px 70px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
}
#btn-1{
    margin: 40px 70px;
    padding: 20px;
    font-size: 25px;
    border-radius: 30px;
    background-color: #ff3300;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
.section-2{
    background-color: bisque;
    position: relative;
}
#img-1{
    position: absolute;
    top: 10px;
    right: 100px;
    width: 150px;
    height: 150px;
}
#img-2{
    position: absolute;
    top: 400px;
    right: 20px;
    width: 80px;
    height: 80px;
}
#img-3{
    position: absolute;
    top: 460px;
    right: 400px;
    width: 80px;
    height: 80px;
}
#img-4{
    position: absolute;
    top: 200px;
    width: 100px;
    height: 100px;
}
#img-5{
    position: absolute;
    top: 50px;
    left: 150px;
    width: 70px;
    height: 60px;
}
#img-6{
    position: absolute;
    top: 450px;
    left: 390px;
    width: 90px;
    height: 90px;
}
#section-2-1 h1{
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    color: red;
}
#section-2-1 p{
    margin-top: 20px;
    text-align: center;
    font-size: 27px;
    color: red;
}
#section-2-2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#section-2-2-1 img{
    border: none;
    border-radius: 200px;
}
#section-2-2-1 h1{
    margin: 15px;
    color: red;
    font-size: 30px;
    text-align: center;
}
#section-2-2-1 p{
    margin: 5px;
    color: red;
    font-size: 25px;
    text-align: center;
}
#section-2-2-2 img{
    border: none;
    border-radius: 200px;
}
#section-2-2-2 h1{
    margin: 15px;
    color: red;
    font-size: 30px;
    text-align: center;
}
#section-2-2-2 p{
    margin: 5px;
    color: red;
    font-size: 25px;
    text-align: center;
}
#section-2-2-3 img{
    border: none;
    border-radius: 200px;
}
#section-2-2-3 h1{
    margin: 15px;
    color: red;
    font-size: 30px;
    text-align: center;
}
#section-2-2-3 p{
    margin: 5px;
    color: red;
    font-size: 25px;
    text-align: center;
}
.section-3{
    background-color: #ff3300;
    display: flex;
    justify-content: space-around;
}
#section-3-1 img{
    margin: 40px 0px 0px 100px;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 150px;
}
#section-3-2 h1{
    padding-top: 100px;
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
}
#section-3-2 p{
    padding-top: 10px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
}
#btn-2{
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 10px 10px;
    border-radius: 50px;
    border: none;
    font-size: 25px;
    text-transform: uppercase;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
.section-4{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    position: relative;
}
#img-7{
    position: absolute;
    top: 10px;
    left: 500px;
    width: 150px;
    height: 150px;
    rotate: 300deg;
}
#img-8{
    position: absolute;
    top: 60px;
    left: 2px;
    width: 80px;
    height: 80px;
    rotate: 60deg;
}
#img-9{
    position: absolute;
    top: 340px;
    left: 500px;
    width: 50px;
    height: 50px;
    rotate: 140deg;
}
#img-10{
    position: absolute;
    top: 340px;
    right: 5px;
    width: 100px;
    height: 100px;
}
#img-11{
    position: absolute;
    top: 390px;
    left: 100px;
    width: 70px;
    height: 70px;
    rotate: 100deg;
}
#img-12{
    position: absolute;
    top: 30px;
    right: 60px;
    width: 80px;
    height: 80px;
}
#section-4-1 h1{
    padding-top: 100px;
    font-size: 75px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#section-4-1 p{
    padding-top: 10px;
    font-size: 30px;
    color: #f64b3c;
    font-weight: 400;
    font-family: "Montserrat";
}
#btn-3{
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 10px 10px;
    border-radius: 50px;
    border: none;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffff;
    background-color: #f64b3c;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
#section-4-2 img{
    margin: 60px 40px 20px 20px;
    width: 400px;
    height: 400px;
    border: none;
    border-radius: 200px;
}
.section-5{
    background-color: #f64b3c;
}
#section-5-1 h1{
    padding-top: 100px;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
}
#section-5-1 p{
    padding-top: 10px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
}
#section-5-2{
    display: flex;
    justify-content: space-around;
    position: relative;
}
#section-5-2-1{
    margin: 40px 0px 40px 0px;
    width: 200px;
    height: 200px;
    border-radius: 160px;
    background-color: transparent;
    color: #ffffff;
    border:5px solid white;
}
#section-5-2-1 h1{
    position: absolute;
    top: 80px;
    left: 150px;
    font-size: 70px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
}
#section-5-2-1 p{
    position: absolute;
    top: 160px;
    left: 120px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
#section-5-2-2{
    margin: 40px 0px 40px 0px;
    width: 200px;
    height: 200px;
    border-radius: 160px;
    background-color: transparent;
    color: #ffffff;
    border:5px solid white;
}
#section-5-2-2 h1{
    position: absolute;
    top: 80px;
    left: 575px;
    font-size: 70px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
}
#section-5-2-2 p{
    position: absolute;
    top: 160px;
    left: 555px;
    font-size: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
#section-5-2-3{
    margin: 40px 0px 40px 0px;
    width: 200px;
    height: 200px;
    border-radius: 160px;
    background-color: transparent;
    color: #ffffff;
    border:5px solid white;
}
#section-5-2-3 h1{
    position: absolute;
    top: 80px;
    right:175px;
    font-size: 70px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
}
#section-5-2-3 p{
    position: absolute;
    top: 160px;
    right:130px;
    font-size: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
.section-6{
    background-color: bisque;
    position: relative;
}
#section-6-1 {
    display: flex;
    justify-content: space-around;
}
#img-13{
    position: absolute;
    top: 10px;
    right: 150px;
    width: 150px;
    height: 150px; 
}
#section-6-1 h1{
    text-align: center;
    font-size: 75px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#section-6-2{
    display: flex;
    justify-content: space-around;
}
#card-1{
    margin: 20px 0px 20px 0px;
    width: 300px;
    background-color: #ffffff;
}
#card-1 h1{
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#card-1 img{
    width: 70px;
    height: 70px;
    padding:20px 0px 0px 115px;
}
#card-1 h3{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#card-1 p{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#btn-4{
    margin: 20px 50px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #ff3300;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;   
}
#card-2{
    margin: 20px 0px 20px 0px;
    width: 300px;
    background-color: #ffffff;
}
#card-2 h1{
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#card-2 img{
    width: 70px;
    height: 70px;
    padding:20px 0px 0px 115px;
}
#card-2 h3{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#card-2 p{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#card-3{
    margin: 20px 0px 20px 0px;
    width: 300px;
    background-color: #ffffff;
}
#card-3 h1{
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#card-3 img{
    width: 70px;
    height: 70px;
    padding:20px 0px 0px 115px;
}
#card-3 h3{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}
#card-3 p{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
}