*{
    margin: 0;
    padding: 0;
}
.header{
    font-size: 20px;
    color: #ffffff;
    font-family: "PT serif";
    text-align: center;
    background-color: #b13941;
}
.nav{
    font-size: 20px;
    color: #ffffff;
    font-family: "PT serif";
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: white;
}
#section-1{
    background-image: url(./Images/bg-images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 90px;
    color: #feedda;
    font-family: "PT serif";
    text-align: center;
}
#section-1-2{
    font-size: 20px;
    text-align: center;
}
.btn{
    border: none;
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline;
    padding: 10px;
    background-color: #b13941;
    color: white;
    font-size: 20px;
    font-family: "PT serif";
    cursor: pointer;
}
#section-2{
    background-color: #b13941;
    display: flex;
    justify-content: space-around;
}
.img-logo{
    padding: 10px 0px 10px 0px;
}
#section-2-2 h1{
    margin-top: 50px;
    font-size: 30px;
    color: #feedda;
    font-family:"Yeseva One";
    font-weight: 400;
    text-align: left;
}
#section-2-2 p{
    margin-top: 20px;
    font-size: 15px;
    color: #feedda;
    font-family:"Yeseva One";
    font-weight: 400;
    text-align: left;
}
.btn_1{
    margin-top: 100px;
    margin-bottom: 100px;
    border: none;
    color:#b13941;
    background-color: #f8eed3;
    font-size: 25px;
    font-family: "PT Serif";
    cursor: pointer;
    text-align: left;
    padding: 10px;
}
#section-3{
    background-color:#f8eed3;
    display: flex;
    justify-content: space-between;
}
#section-3-1 .img-logo{
    padding: 0px 0px 0px 0px;
}
#section-3-2 h1{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    color: #000000;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: left;
}
#section-3-2 p{
    width: 576px;
    height: 180px;
    font-size: 21px;
    color: #575757;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: left;
}
#section-3-2 a{
    color: red; 
}
#section-4{
    background-color: #b13941;
    display: block;
}
#section-4-1 h1{
    padding: 20px;
    font-size: 50px;
    color: #f8eed3;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}
#section-4-1 p{
    font-size: 21px;
    margin-top: 20px;
    color: #f8eed3;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
}
#section-4-2{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.coffee-menu{
    display: flex;
    background-color: white;
    width: 40%;
}
#section-4-2 h1{
    margin-top: 20px;
    font-size: 33px;
    color: #010101;
    font-weight: 400;
    font-family: "Yeseva One";
}
.coffee-menu div{
    margin-left: 20px;
}
.coffee-menu p{
    margin-top: 20px;
}
.coffee-menu .btn_2{
    margin-top: 40px;
    border: none;
    color:#f8eed3;
    background-color:#b13941;
    font-size: 25px;
    font-family: "PT Serif";
    cursor: pointer;
    text-align: left;
    padding: 10px;
}
#section-5{
    background-color:#f8eed3;
}
#section-5-1 h1{
    padding: 20px;
    font-size: 50px;
    color:#b13941;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}
#section-5-1 p{
    font-size: 20px;
    color:#b13941;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}
#section-5-2{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.overlay-container{
    text-align: center;
    position: relative;
    width: 351px;
    background-color: white;
}
.overlay-padding{
    z-index: 2;
    position: absolute;
    top: 245px;
    left: 100px;
    padding: 10px;
    background-color: #f8eed3;
    width: 147px;
    height: 44px;
}
.overlay-caption{
    /* z-index: 2; */
    /* position: absolute; */
    /* top: 255px;
    left: 115px; */
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: red;
    border: 1px solid red;
}
.overlay-container p{
    margin-top: 50px;
}
.btn_3{
    margin: 20px 0px 20px 0px; 
    border: none;
    color:#f8eed3;
    background-color:#b13941;
    font-size: 20px;
    font-family: "PT Serif";
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
#section-6{
    display: flex;
    justify-content: space-between;
    background-color: #b13941;
    padding: 50px 20px 50px 20px;
}
#section-6-1 h1{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    color:#f8eed3;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}
#section-6-1 p{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    color:#f8eed3;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}
#section-6-1-1{
    display: flex;
}
.social-media{
    background-color: #feedda;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center; /* This centers items vertically */
    justify-content: center; /* This centers items horizontally */
    margin-left: 30px;
}
#section-7{
    display: flex;
    background-color: white;
}
.contact-us{
    margin: 30px 0px 30px 50px;
}
.contact-us h1{
    font-size: 58px;
    color: #b13941;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}
.contact-us input{
    display: block;
    width: 590px;
    height: 35px;
    padding-left: 10px;
    font-size: 21px;
    border: 1.5px solid #b0b0b0;
    background-color: #efefef;
    color: #b0b0b0;
    margin-top: 10px;
}
.contact-us #Message{
    display: block;
    width: 590px;
    height: 150px;
    font-size: 21px;
    text-align: left;
    border: 1.5px solid #b0b0b0;
    background-color: #efefef;
    color: #b0b0b0;
}
.btn_4{
    margin-top: 35px;
    border: none;
    color:#f8eed3;
    background-color:#b13941;
    font-size: 20px;
    font-family: "PT Serif";
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
#footer{
    background-color: #b13941;
    padding: 30px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    color: #f8eed3;
    font-weight: 700;
    font-family: "EB Garamond";
}

/* 
DRY prinicple: Do not repeat yourself.

Code Refactoring: Improving the code by rewriting it.

Code readability: It means writing the code with proper structure such that
it is easy to read for other developers.

Clean code: It means to write code in a cleaner manner using best practices and
avoiding bad practices like forcing things using !important.

Steps to overlay a div over an image:

    1. Put everything inside a container div e.g. our div with class .overlay-container.
    2. Set position: relative for .overlay-container class.
    3. Set position: absolute for the div which you want to overlay. 
        E.g. our div with .overlay-padding class.
    4. Set top and left pixel accordingly for the div which you want to overlay. 
        E.g. our div with .overlay-padding class.
    5. Set z-index to 2 (or higher value depending 
        on how many stacking elements you have) for 
        the div which you want to overlay. E.g. our div with .overlay-padding class.

Steps to add space before the border starts:

    1. Create an additional div (e.g.: .overlay-padding)
        outside the div which has border (e.g.: .overlay-caption).
    2. Add padding to the additional div (e.g. .overlay-padding)
    3. Set the background-color of additional div to be same as div which has border.
    4. Remove the background-color of the div which has border since it will
        inherit the background-color property of the parent div.
    5. (Optional): If your div with the border was using position: absolute and
        z-index, then move those properties to the parent div. 
        Also, adjust the top and left positions in the parent div.
*/