*{
    margin: 0;
    padding: 0;
}
.header{
    width: 1262px;
    height: 90px;
    background-color: #303030;
}
#nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav a{
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
}
#section-1{
    width: 1262px;
    background-image: url(./image/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#section-1 h1{
    padding: 120px 0px 40px 50px;
    font-size: 125px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
}
#section-1 p{
    padding: 10px 0px 40px 50px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
.btn{
    font-size: 29px;
    text-transform: uppercase;
    margin: 10px 0px 20px 50px;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 65px;
    border-radius: 10px;
    background-color: #e8631c;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
}
#section-2{
    width: 1242px;
    height: 800px;
    padding: 50px 0px 20px 20px;
    background-color: #e8631c;
}
#section-2-1 h1{
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}
#section-2-1 p{
    padding: 50px 0px 20px 20px;
    width: 1200px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#section-2-2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#section-2-2-1{
    width: 372px;
    height: 500px;
    text-align: center;
    background-color: #303030;
}
#section-2-2-1 h1{
    padding-top: 20px;
    font-size: 37px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
}
#section-2-2-1 p{
    padding-top: 20px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
}
#section-3{
    width: 1262px;
    height: 690px;
    background-color: #303030;
}
#section-3-1 h1{
    padding-top: 20px;
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}
#section-3-1 p{
    padding-top: 20px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#section-3-2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#section-3-2-1{
    width: 372px;
    height: 400px;
    padding-top: 20px;
    background-color: #e8631c;
    text-align: center;
}
#section-3-2-1 h1{
    padding-top: 50px;
    font-size: 37px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Oswald";
    text-align: center;
}
#section-3-2-1 p{
    padding-top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-family: "Oswald";
    text-align: center;
}
.btn-1{
    margin-top: 20px;
    width: 190px;
    height: 50px;
    font-size: 30px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #303030;
}
#section-4{
    background-color: #e8631c;
    display: flex;
    justify-content: space-between;
}
#section-4-1 img{
    width: 600px;
}
#section-4-2 h1{
    padding: 50px 0px 30px 20px;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
}
#section-4-2 p{
    padding: 10px 0px 10px 20px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
.btn-2{
    font-size: 29px;
    text-transform: uppercase;
    background-color: #303030;
    color: #ffffff;
    border: none;
    margin: 50px 0px 0px 20px;
    padding:20px;
    border-radius: 20px;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
    cursor: pointer;
}
#section-5{
    background-color: #e8631c;
    display: flex;
    justify-content: space-between;
}
#section-5-1 h1{
    margin-top: 100px;
    padding: 50px 0px 30px 40px;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
}
#section-5-1 p{
    margin-top: 10px;
    padding: 50px 0px 30px 40px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
.btn-2{
    font-size: 29px;
    text-transform: uppercase;
    background-color: #303030;
    color: #ffffff;
    border: none;
    margin: 50px 0px 30px 20px;
    padding:20px;
    border-radius: 20px;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
    cursor: pointer;
}
#section-5-2 img{
    width: 660px;
}
#section-6{
    width: 1263px;
    height:500px;
    background-color: #303030;
}
#section-6-1 h1{
    padding: 100px 0px 0px 20px;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}
#section-6-1 p{
    padding: 30px 0px 0px 20px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#section-6-2{
    display: flex;
    justify-content: space-between;
}
#section-6-2-1 h1{
    margin: 100px 0px 0px 80px;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}
#section-6-2-1 p{
    margin: 10px 0px 0px 80px;
    font-size: 42px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#section-6-2-2 h1{
    margin: 100px 0px 0px 0px;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}
#section-6-2-2 p{
    margin: 10px 0px 0px 0px;
    font-size: 42px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#section-6-2-3 h1{
    margin: 100px 100px 0px 0px;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}
#section-6-2-3 p{
    margin: 10px 100px 0px 0px;
    font-size: 42px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#section-7{
    background-image: url(./image/img-7-1.jpg);
    background-repeat: no-repeat;
    height: 970px;

}
#section-7-1{
    height: 970px;
    background: #bf4101;
    opacity: 0.6;
}
#section-7-1 h1{
    padding: 340px 0px 0px 0px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
    text-align: center;
}
#section-7-1 p{
    margin-top: 50px;
    font-size: 58px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}
#section-8{
    width: 1263px;
    height: 440px;
    background-color: #e8631c;
}
#section-8-1 h1{
    padding-top: 100px;
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}
#section-8-1 p{
    padding-top: 30px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
#section-8-2 input{
    margin-left: 300px;
    padding:20px;
    border-radius: 20px;
    border: none;
    font-size: 29px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.btn-3{
    font-size: 29px;
    text-transform: uppercase;
    background-color: #303030;
    color: #ffffff;
    border: none;
    margin: 50px 0px 0px 0px;
    padding:20px;
    border-radius: 20px;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
    cursor: pointer;
}
#footer{
    background-color: #303030;
}
#footer-conatiner{
    display: flex;
    justify-content: space-between;
}
#footer-conatiner h1{
    padding: 100px 0px 10px 50px;
    font-size: 50px;
    font-size: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
}
#footer-conatiner p{
    padding: 20px 0px 20px 50px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
#footer-conatiner img{
    padding: 30px 0px 30px 30px;
}
#footer-conatiner{
    display: flex;
    color: #ffffff;
}
#footer-conatiner h2{
    padding: 100px 50px 20px 0px;
    font-size: 25px;
    font-weight: 400;
    font-family: "Montserrat";
}